:root {
    background-color: rgb(192, 192, 192);
}
header {
    color: black;
    background: linear-gradient(to right, blue 0%, violet 50%, rgb(51, 4, 51) 100%);
    text-align: center;
    padding-top: 1px;
    padding-bottom: 2px;
}

input {
    text-align: center;
    background-color: white;
}

button {
    margin-left: 40px;
}

section h2 {
    color: black;
    font-size: 30px;
}

section h3 {
    font-size: 30px;
}

div h4 {
    color: black;
    font-size: 32px;
}

header h1 {
    color: aqua;
}

.forecast-container {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
  }