
header {
    color: black;
    background: linear-gradient(to right, blue 0%, violet 50%, rgb(51, 4, 51) 100%);
    text-align: center;
    padding-top: 1px;
    padding-bottom: 2px;

}

input {
    text-align: center;
    background-color: white;
}

button {
    margin-left: 40px;
}

section h2 {
    color: blueviolet;
}

